/* General syle */
/** notes : this design is mobile first approach */
:root {
  --primary-color: #ffd900;
  --secondary-color: #011f5b;
  --accent-color: #95001a;
  --heading-color: #444;
  --body-color: #6f6f6f;
  --btn-border-size: 3px;
  --input-font-size: 1.5rem;
}

/** To prevent :horizontal scrolling */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--body-color);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/** Typography */
h1,
h2,
h3 {
  font-family: "Prata", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 0.8rem;
  margin-top: 2rem;
  color: var(--heading-color);
  padding-left: 1rem;
}

h1 {
  font-size: 2.7rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p,
a {
  font-size: 1rem;
  margin: 0;
  color: var(--body-color);
  padding-left: 1rem;
}

a {
  text-decoration: none;
}

::placeholder {
  color: lightgray;
  font-size: 1.3rem;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.8rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  p,
  a {
    font-size: 1.3rem;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  p,
  a {
    font-size: 1.5rem;
  }
}

/**basics for all */
img {
  width: 100%;
}
.block-container {
  max-width: 1140px;
  margin: 5rem auto;
}
.dark-block {
  background-color: #222831;
}

.dark-block h1,
.dark-block h2,
.dark-block h3 {
  color: #eee;
}
.dark-block p,
.dark-block a {
  color: #bbb;
}
.grid {
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .grid-template-2x {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1000px) {
  .grid-template-3x {
    grid-template-columns: repeat(3, 1fr);
  }
}

/** Button Style */

.btn {
  border: var(--btn-border-size) solid transparent;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 1rem 2rem;
  text-align: center;
  transition: all 300ms ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 100%;
}
.bannerButton {
  margin-top: 4rem;
}
.btn--block {
  max-width: max-content;
}
.btn--transparent {
  background-color: transparent;
  border: 1px solid #eee;
  border-radius: 30px;
  transition: all 200ms ease-in-out;
}
.btn--transparent:hover {
  background-color: #fff;
  color: #222;
}
.btn--primary {
  background-color: var(--primary-color);
  border: var(--btn-border-size) solid var(--primary-color);
  color: #222;
}

.btn--secondary {
  background-color: var(--secondary-color);
  border: var(--btn-border-size) solid var(--secondary-color);
  color: #fff;
}

.btn--accent {
  background-color: var(--accent-color);
  border: var(--btn-border-size) solid var(--accent-color);
  color: #fff;
}

.btn--hover:hover {
  background-color: #fff;
  color: #222;
}

.btn--accent-outline {
  margin-top: 20px;
  color: var(--accent-color);
  font-weight: bold;
  background-color: #fff;
  border: var(--btn-border-size) solid var(--accent-color);
  box-shadow: -7px 5px var(--accent-color);
}

.btn--green-outline {
  margin-top: 20px;
  color: #83bb77;
  font-weight: bold;
  background-color: #fff;
  border: var(--btn-border-size) solid#83BB77;
  box-shadow: -7px 5px #83bb77;
}

.btn--green-outline:hover {
  background-color: #83bb77;
  color: #fff;
  box-shadow: none;
}

.btn--accent-outline:hover {
  background-color: var(--accent-color);
  color: #fff;
  box-shadow: none;
}

.btn--primary-outline {
  margin-top: 3rem;
  color: #555;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #fff;
  border: var(--btn-border-size) solid var(--primary-color);
  box-shadow: -7px 5px var(--primary-color);
}

.btn--primary-outline:hover {
  background-color: var(--primary-color);
  color: #fff;
  box-shadow: none;
}

/** Search input style */
.search-sectoin.block-container {
  max-width: 900px;
  padding: 0 2rem;
}
.search__heading {
  font-size: 3rem;
  text-align: center;
  margin: 0.5rem;
}
.input-group {
  margin: 4rem auto;
  display: flex;
  overflow: hidden;
  border-bottom: var(--btn-border-size) solid var(--secondary-color);
}

.search-input {
  outline: 0;
  border: none;
  flex-grow: 1;
  width: 50%;
  font-size: var(--input-font-size);
  transition: all 250ms ease-in-out;
}

.input-group:hover {
  border-bottom: var(--btn-border-size) solid purple;
}

.input-group .search-icon {
  align-self: center;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.3rem 1rem;
  transition: all 250ms ease-in-out;
}

.input-group .search-icon:hover {
  text-shadow: -4px 4px 5px lightgray;
}

.search-icon--mid-black {
  color: #333;
}

/** Return to top buton */

.return-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: #ffd900;
  width: 50px;
  height: 50px;
  line-height: 45px;
  border-radius: 100%;
  color: #191919 !important;
  z-index: 999 !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  visibility: hidden;
}

.return-to-top:hover {
  transform: scale(1.1);
}

.return-to-top .return__icon {
  font-size: 3.1rem;
  color: #fff;
  position: relative;
  right: 7.5px;
}

@media only screen and (min-width: 768px) {
  .return-to-top {
    visibility: visible;
  }
}
/** link style */

.link {
  font-weight: 900;
  outline: none;
}

.link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.link-wrapper .fa {
  font-size: 1rem;
}

.link-icon {
  transition: all 200ms ease-in-out;
  padding-left: 0.5rem;
  position: relative;
  top: 2px;
}

.link-wrapper:hover .link-icon {
  padding-left: 0.8rem;
}

/** advertisment testemonial */

.advertisment-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  column-gap: 0.5rem;
  row-gap: 1rem;
}

.advertisment-testemonial {
  padding: 2rem 1rem;
  max-width: 370px;
  box-shadow: 0 0 5px lightgray;
  margin: 0 1rem;
  cursor: default;
  /**for sliding */
  background-size: 200% 200%;
  transition: all 0.4s ease, transform 0.4s ease;
}

.color-hover-to-top {
  background-image: linear-gradient(to top, #f7d937a3 50%, #fff 0);
  background-position: top;
}

.color-hover-to-top:hover {
  background-position: bottom;
}

.color-hover-to-top:hover .advertisment__heading,
.color-hover-to-top:hover .advertisment__illustration,
.color-hover-to-top:hover .link,
.color-hover-to-top:hover .link-wrapper,
.color-hover-to-top:hover .advertisment__icon {
  color: #000;
}

.advertisment__icon {
  margin: auto;
  display: table;
}

.advertisment-testemonial .advertisment__illustration,
.advertisment-testemonial .link,
.advertisment-testemonial .link-icon {
  font-size: 1rem;
}

.advertisment-testemonial .advertisment__illustration {
  line-height: 1.5;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.advertisment-testemonial .advertisment__heading {
  font-size: 2rem;
}
@media only screen and (min-width: 768px) {
  .advertisment-testemonial {
    margin: 0;
  }
}
/** Banner & Heading section */

.logo {
  width: 79%;
  margin: 2.5rem auto;
  display: table;
}
.banner {
  padding: 0 2rem;
}
.banner__heading {
  line-height: 1.2;
  text-align: center;
}
.banner-grid .headding__info {
  align-self: center;
}
.separator {
  width: 20%;
  margin: 2rem auto;
  display: table;
}

.banner-grid.block-container {
  max-width: 1300px;
  height: 100vh;
}

@media only screen and (min-width: 856px) {
  .grid-template-2x.banner-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .headding__info {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .separator {
    display: none;
  }
  .banner {
    align-self: center;
  }
  .headding__info {
    justify-self: center;
    align-self: center;
  }
  .banner__heading {
    text-align: left;
    padding-left: 4rem;
    line-height: 1.5;
  }
  .logo {
    margin-bottom: 0;
    position: relative;
    bottom: -48px;
  }
}

/** icons Style */

.icon {
  width: 28px;
}

.round-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 1rem;
  border-radius: 100%;
}

.icon--primary {
  background-color: var(--primary-color);
}

.icon--white {
  fill: #fff;
}

/** Services sectoin style */

/** services block */

.services-sectoin-wrapper .services-section__header,
.services-sectoin-wrapper .services-section__ilustration {
  text-align: center;
  padding: 0 2rem;
}
.services-sectoin-wrapper .services-section__ilustration {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.services-section {
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .services-section {
    flex-flow: row nowrap;
  }
}
/** .service__cards */
.service__card {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
  padding: 1rem;
}

.service__card:first-of-type {
  margin-top: 0;
}

.service__card .round-icon {
  margin: auto;
}

.service__card .service__card__headding {
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

.services__img {
  padding: 2rem;
}

@media only screen and (min-width: 768px) {
  .card--left-style.service__card {
    text-align: left;
  }

  .card--left-style.service__card .round-icon {
    margin: 1rem;
  }

  .card--right-style.service__card {
    text-align: right;
    margin-right: 1rem;
  }

  .card--right-style.service__card .round-icon {
    margin-right: 0;
  }

  .service__card .service__card__headding {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .service__card__illustration {
    font-size: 1rem;
  }

  .service__card {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

/**cards sectoin */

.card {
  box-shadow: 0 0 5px rgb(233, 233, 233);
  height: 400px;
  margin: 0 1rem;
  max-width: 300px;
  overflow: auto;
  transition: all 150ms ease-in-out;
}

.card-photo {
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: 11rem;
  overflow: hidden;
}

.center-text {
  text-align: center;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0 5px 8px rgb(197, 197, 197);
  transform: translateY(-7px);
}

.card .card__content {
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 0;
}
.card__content .card__heading {
  font-size: 1.5rem;
}
.card__content .card__illustration {
  font-size: 1rem;
}
.card__content .link-wrapper {
  margin: auto;
  margin-top: 1.5rem;
  display: table;
}
.card__content .link {
  font-size: 0.9rem;
  font-weight: lighter;
  opacity: 0.8;
}

@media only screen and (min-width: 768px) {
  .card {
    margin: 0;
  }
}
/** Familys section */
.familys-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
}
.families-header {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 400%;
}

/** What makes us stands out section */
.unique-features__description .description__paragraph {
  padding: 0 1rem;
}
.description__heading {
  text-align: center;
  margin-bottom: 3rem;
}

.description__heading .description__header {
  font-size: 3rem;
}
.unique-features__img > img {
  width: 70%;
  margin: auto;
  display: table;
}

.unique-features__img {
  justify-self: center;
  align-self: center;
}

@media only screen and (min-width: 768px) {
  .description__heading {
    text-align: left;
  }
}

/** Form & contact */
.contact__description .description__paragraph {
  padding: 0 1rem;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 500px) {
  .flex-group {
    flex-wrap: nowrap;
  }
}
.form-group {
  padding: 1rem;
  width: 100%;
}
.lable {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  padding-left: 0;
  white-space: nowrap;
  font-family: "Heebo", sans-serif;
  font-weight: 300;
}

.contact__img {
  align-self: center;
  justify-content: center;
  padding: 0 1.5rem;
}
.text-input {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  padding: 0.2rem 0.4rem;
  margin: 5px 1px 3px 0px;
  border: 1px solid #dddddd;
  font-size: var(--input-font-size);
  width: 100%;
  resize: none;
}

.text-input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 0.2rem 0.4rem;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
  resize: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/** Social media links */
.social-media-wrapper {
  margin: auto;
  display: table;
  padding: 0 1rem;
}
.social-media-links {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 3rem;
}

.social-media-links .social__link {
  list-style: none;
}

.social-media-links .social__link a {
  position: relative;
  width: 60px;
  height: 60px;
  background: linear-gradient(0deg, #ddd, #fff);
  display: block;
  text-align: center;
  border-radius: 100%;
  padding: 6px;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

.social-media-links .social__link a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.social-media-links .social__link .fa {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 100%;
  line-height: calc(60px - 12px);
  font-size: 24px;
  color: #262626;
  transition: all 200ms ease-in-out;
}

.faceBook:hover .fa {
  color: #3b5998;
}
.twitter:hover .fa {
  color: #55acee;
}
.YoutYoube:hover .fa {
  color: #ff0000;
}
.linkedin:hover .fa {
  color: #007bb5;
}
.instagram:hover .fa {
  color: #bc2a8d;
}

/** Footer section */
.footer-section h3 {
  font-size: 1.2rem;
  word-spacing: 3px;
  letter-spacing: 1px;
}
.footer-section p,
.footer-section a,
.footer-section li {
  font-size: 1rem;
}
.footer__content.block-container {
  margin-bottom: 0;
}
.footer-section {
  height: max-content;
}
.FCI__basic-info {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  row-gap: 3rem;
  padding: 2rem 5px;
}

.footer__logo {
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.FCI__basic-info .address {
  padding: 0 5px;
}

.footer__Map {
  padding: 0.5rem;
  border: 0;
  margin: auto;
  border-radius: 10px;
}
.footer-section .footer__content {
  text-align: center;
}

.footer__navigate__list {
  list-style: none;
}
.footer__navigate__list li {
  margin-top: 2rem;
}
.footer__navigate__list li a {
  transition: all 200ms ease-in-out;
}

.footer__navigate__list li:hover a {
  color: #fff;
}
.footer__history__btn {
  max-width: 300px;
  margin: 4rem auto;
}
.footer__made__info {
  margin: 0 auto;
  padding-bottom: 1rem;
  display: table;
}
@media only screen and (min-width: 1000px) {
  .footer-section {
    height: 100vh;
  }
  .footer__content {
    padding-top: 4rem;
  }

  .footer__content .FCI__basic-info,
  .footer__content .footer__navigate__list,
  .footer__content h3 {
    text-align: left;
  }
  .footer__logo {
    margin-left: 0;
  }
  .FCI__basic-info .address {
    padding-left: 0;
  }
  .FCI__basic-info .phone {
    padding-left: 0;
  }
  .footer__Map {
    padding-left: 0;
    margin-left: 0;
  }
  .footer__navigate__list {
    padding-left: 0;
    margin-left: 0;
  }
  .Heritage__illustratoin {
    padding-left: 0;
  }
  .Heritage__heading {
    margin-left: 0.3rem;
    margin-bottom: 2.2rem;
  }
}
