/* General syle */
/** notes : this design is mobile first approach */
:root {
  --primary-color: #ffd900;
  --secondary-color: #011f5b;
  --accent-color: #95001a;
  --heading-color: #444;
  --body-color: #6f6f6f;
  --btn-border-size: 3px;
  --input-font-size: 1.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--body-color);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/** Typography */
h1,
h2,
h3 {
  font-family: "Prata", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 0.8rem;
  margin-top: 2rem;
  color: var(--heading-color);
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p,
a {
  font-size: 1rem;
  margin: 0;
  color: var(--body-color);
}

a {
  text-decoration: none;
}

::placeholder {
  color: lightgray;
  font-size: var(--input-font-size);
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.8rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  p,
  a {
    font-size: 1.3rem;
  }
}
/**basics for all */
.block-container {
  max-width: 1140px;
  margin: auto;
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
  p,
  a {
    font-size: 1.5rem;
  }
}

/** Button Style */

.btn {
  border: var(--btn-border-size) solid transparent;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 1rem 2rem;
  text-align: center;
  transition: all 300ms ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 100%;
}

.btn--primary {
  background-color: var(--primary-color);
  border: var(--btn-border-size) solid var(--primary-color);
  color: #222;
}

.btn--secondary {
  background-color: var(--secondary-color);
  border: var(--btn-border-size) solid var(--secondary-color);
  color: #fff;
}

.btn--accent {
  background-color: var(--accent-color);
  border: var(--btn-border-size) solid var(--accent-color);
  color: #fff;
}

.btn--red-outline {
  margin-top: 20px;
  color: var(--accent-color);
  font-weight: bold;
  background-color: #fff;
  border: var(--btn-border-size) solid var(--accent-color);
  box-shadow: -7px 5px var(--accent-color);
}

.btn--block {
  max-width: max-content;
}

.btn--red-outline:hover {
  background-color: var(--accent-color);
  color: #fff;
  box-shadow: none;
}

.btn--hover:hover {
  background-color: #fff;
  color: #222;
}

/** Search input style */
.input-group {
  display: flex;
  overflow: hidden;
  border-bottom: var(--btn-border-size) solid var(--secondary-color);
}

.search-input {
  outline: 0;
  border: none;
  flex-grow: 1;
  width: 50%;
  font-size: var(--input-font-size);
  transition: all 250ms ease-in-out;
}

.input-group:hover {
  border-bottom: var(--btn-border-size) solid purple;
}

.input-group .search-icon {
  align-self: center;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.3rem 1rem;
  transition: all 250ms ease-in-out;
}

.input-group .search-icon:hover {
  text-shadow: -4px 4px 5px lightgray;
}

.search-icon--mid-black {
  color: #333;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/** Return to top buton */

.return-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: #ffd900;
  width: 50px;
  height: 50px;
  line-height: 45px;
  border-radius: 100%;
  color: #191919 !important;
  z-index: 999 !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.return-to-top:hover {
  transform: scale(1.1);
}

.return-to-top .return__icon {
  font-size: 3.1rem;
  color: #fff;
}

/** link style */

.link {
  font-weight: 900;
}

.link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.link-wrapper .fa {
  font-size: 1rem;
}

.link-icon {
  transition: all 200ms ease-in-out;
  padding-left: 0.5rem;
  position: relative;
  top: 2px;
}

.link-wrapper:hover .link-icon {
  padding-left: 0.8rem;
}

/** advertisment testemonial */

.advertisment-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.advertisment-testemonial {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  margin-right: 0.6rem;
  max-width: 370px;
  box-shadow: 0 0 5px lightgray;
  /**for sliding */
  background-size: 200% 200%;
  transition: all 0.4s ease, transform 0.4s ease;
}

.color-hover-to-top {
  background-image: linear-gradient(to top, var(--primary-color) 50%, #fff 0);
  background-position: top;
}

.color-hover-to-top:hover {
  background-position: bottom;
}

.color-hover-to-top:hover .advertisment__heading,
.color-hover-to-top:hover .advertisment__illustration,
.color-hover-to-top:hover .link,
.color-hover-to-top:hover .link-wrapper,
.color-hover-to-top:hover .advertisment__icon {
  color: #000;
}

.advertisment__icon {
  margin: auto;
  display: table;
}

.advertisment-testemonial .advertisment__illustration,
.advertisment-testemonial .link,
.advertisment-testemonial .link-icon {
  font-size: 1rem;
}

.advertisment-testemonial .advertisment__illustration {
  line-height: 1.5;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.advertisment-testemonial .advertisment__heading {
  font-size: 2rem;
}
