<!--Contact Section-->
<section class="contact grid grid-template-2x block-container">
  <div class="contact__img">
    <img src="images/setting man.png" alt="Setting man" />
    <button
      type="submit"
      form="contact-form"
      value="Submit"
      class="btn btn--primary-outline"
    >
      Submit
    </button>
  </div>
  <div class="contact__description">
    <div class="description__heading">
      <h2 class="description__header">Drop us a line</h2>
      <p class="description__paragraph">
        We would be so happy to know your opinion about FCI-Menoufia and
        consider you messages
      </p>
    </div>
    <form action="" class="contact__form" id="contact-form">
      <div class="form__info">
        <div class="flex-group">
          <!-- First Name-->
          <div class="form-group">
            <h3 class="lable">First Name *</h3>
            <input
              type="text"
              name="user first name"
              placeholder="i.e Mohamed"
              class="text-input"
              autocomplete="off"
            />
          </div>
          <!--last name -->
          <div class="form-group">
            <h3 class="lable">Last Name *</h3>
            <input
              type="text"
              name="user last name"
              placeholder="i.e Shelf"
              class="text-input"
              autocomplete="off"
            />
          </div>
        </div>
        <div class="flex-group">
          <!--email-->
          <div class="form-group">
            <h3 class="lable">E-mail Address *</h3>
            <input
              type="email"
              name="user email"
              placeholder="i.e mo..@gmail.com"
              class="text-input"
              autocomplete="off"
            />
          </div>
          <!--phone-->
          <div class="form-group">
            <h3 class="lable">Phone Number</h3>
            <input
              type="number"
              name="user name"
              placeholder="i.e +20 01096787085"
              class="text-input"
              autocomplete="off"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <h3 class="lable">Your Messages *</h3>
        <textarea
          cols="35"
          rows="8"
          name="User Message"
          placeholder="Start here .."
          class="text-input user-message"
          autocomplete="off"
        ></textarea>
      </div>
    </form>
  </div>
</section>
