<div class="block-container">
  <h3 class="families-header">Our FCI Families</h3>
  <div class="familys-section">
    <!--1 - mufix -->
    <div class="card center-text">
      <div class="card-photo">
        <img src="images/MUFIX.jpg" alt="" />
      </div>
      <div class="card__content">
        <h3 class="card__heading">MUFIX Community</h3>
        <p class="card__illustration">
          MUFIX Community,founded,at Menoufia University Faculty of Computers
          and Information in 2005.
        </p>
        <span class="link-wrapper">
          <a href="http://www.mufix.org" class="link">MUFIX Home Page</a>
          <i class="fa fa-arrow-right link-icon"></i>
        </span>
      </div>
    </div>
    <!--1 - Alef  -->
    <div class="card center-text">
      <div class="card-photo">
        <img src="images/ALEF.jpg" alt="" />
      </div>
      <div class="card__content">
        <h3 class="card__heading">Alef Community</h3>
        <p class="card__illustration">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias totam
          reprehenderit sunt ipsa possimus?
        </p>
        <span class="link-wrapper">
          <a href="https://www.facebook.com/new.alef.1" class="link"
            >Alef Home Page</a
          >
          <i class="fa fa-arrow-right link-icon"></i>
        </span>
      </div>
    </div>
    <!--3 - ICPC -->
    <div class="card center-text">
      <div class="card-photo">
        <img src="images/ICPC.jpg" alt="" />
      </div>
      <div class="card__content">
        <h3 class="card__heading">ICPC Community</h3>
        <p class="card__illustration">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias totam
          reprehenderit sunt ipsa possimus?
        </p>
        <span class="link-wrapper">
          <a href="https://www.facebook.com/icpc.menofia.5" class="link"
            >ICPC Home Page</a
          >
          <i class="fa fa-arrow-right link-icon"></i>
        </span>
      </div>
    </div>
    <!--4 - Compiler  -->
    <div class="card center-text">
      <div class="card-photo">
        <img src="images/Compiler.jpg" alt="" />
      </div>
      <div class="card__content">
        <h3 class="card__heading">Compiler Community</h3>
        <p class="card__illustration">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias totam
          reprehenderit sunt ipsa possimus?
        </p>
        <span class="link-wrapper">
          <a href="https://www.facebook.com/compiler.fci.71" class="link"
            >Compiler Home Page</a
          >
          <i class="fa fa-arrow-right link-icon"></i>
        </span>
      </div>
    </div>
  </div>
</div>
