<div class="familys-section block-container">
  <!--1 - mufix -->
  <div class="card center-text">
    <img src="images/MUFIX.jpg" alt="" />
    <div class="card__content">
      <h3 class="card__heading">MUFIX Community</h3>
      <p class="card__illustration">
        MUFIX Community,founded,at Menoufia University Faculty of Computers and
        Information in 2005.
      </p>
      <span class="link-wrapper">
        <a href="http://www.mufix.org/#about-section" class="link"
          >MUFIX Home Page</a
        >
        <i class="fa fa-arrow-right link-icon"></i>
      </span>
    </div>
  </div>
  <!--1 - ALF -->
  <div class="card center-text">
    <img src="images/MUFIX.jpg" alt="" />
    <div class="card__content">
      <h3 class="card__heading">MUFIX Community</h3>
      <p class="card__illustration">
        MUFIX Community,founded,at Menoufia University Faculty of Computers and
        Information in 2005.
      </p>
      <span class="link-wrapper">
        <a href="http://www.mufix.org/#about-section" class="link"
          >MUFIX Home Page</a
        >
        <i class="fa fa-arrow-right link-icon"></i>
      </span>
    </div>
  </div>
  <!--3 - Lorem -->
  <div class="card center-text">
    <img src="images/MUFIX.jpg" alt="" />
    <div class="card__content">
      <h3 class="card__heading">MUFIX Community</h3>
      <p class="card__illustration">
        MUFIX Community,founded,at Menoufia University Faculty of Computers and
        Information in 2005.
      </p>
      <span class="link-wrapper">
        <a href="http://www.mufix.org/#about-section" class="link"
          >MUFIX Home Page</a
        >
        <i class="fa fa-arrow-right link-icon"></i>
      </span>
    </div>
  </div>
  <!--4 - Lorem -->
  <div class="card center-text">
    <img src="images/MUFIX.jpg" alt="" />
    <div class="card__content">
      <h3 class="card__heading">MUFIX Community</h3>
      <p class="card__illustration">
        MUFIX Community,founded,at Menoufia University Faculty of Computers and
        Information in 2005.
      </p>
      <span class="link-wrapper">
        <a href="http://www.mufix.org/#about-section" class="link"
          >MUFIX Home Page</a
        >
        <i class="fa fa-arrow-right link-icon"></i>
      </span>
    </div>
  </div>
  <!--5 - Lorem -->
  <div class="card center-text">
    <img src="images/MUFIX.jpg" alt="" />
    <div class="card__content">
      <h3 class="card__heading">MUFIX Community</h3>
      <p class="card__illustration">
        MUFIX Community,founded,at Menoufia University Faculty of Computers and
        Information in 2005.
      </p>
      <span class="link-wrapper">
        <a href="http://www.mufix.org/#about-section" class="link"
          >MUFIX Home Page</a
        >
        <i class="fa fa-arrow-right link-icon"></i>
      </span>
    </div>
  </div>
  <!--6 - Lorem -->
  <div class="card center-text">
    <img src="images/MUFIX.jpg" alt="" />
    <div class="card__content">
      <h3 class="card__heading">MUFIX Community</h3>
      <p class="card__illustration">
        MUFIX Community,founded,at Menoufia University Faculty of Computers and
        Information in 2005.
      </p>
      <span class="link-wrapper">
        <a href="http://www.mufix.org/#about-section" class="link"
          >MUFIX Home Page</a
        >
        <i class="fa fa-arrow-right link-icon"></i>
      </span>
    </div>
  </div>
</div>
