<footer class="footer-section dark-block">
  <div class="footer__content grid grid-template-3x block-container">
    <!--first sectoin-->
    <div class="FCI__basic-info">
      <img src="images/logo.png" alt="" class="footer__logo" />
      <p class="address">
        Gamal Abd El-Nasir, Qism Shebeen El-Kom, Shibin el Kom, Menofia
        Governorate
      </p>
      <p class="phone">
        Telephone: <a href="tel:+20 0482222170">(+20) 048 2222170</a>
      </p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13741.695653864002!2d31.0130822!3d30.5655764!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc353387ed2f37809!2sMenoufiya%20University!5e0!3m2!1sen!2seg!4v1612758990569!5m2!1sen!2seg"
        width="300"
        height="200"
        frameborder="0"
        class="footer__Map"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
      ></iframe>
    </div>
    <!--second sectoin-->
    <div class="footer__navigate">
      <h3 class="footer__navigate__haeder">Check out other sectoins</h3>
      <ul class="footer__navigate__list">
        <li><a href="#">Student Activities</a></li>
        <li><a href="#">Health care</a></li>
        <li><a href="#">Library</a></li>
        <li><a href="#">Online Learning</a></li>
        <li><a href="#">Postgraduate Programs</a></li>
      </ul>
    </div>
    <!--3ed section-->
    <div class="Heritage">
      <h3 class="Heritage__heading">FCIM's Heritage</h3>
      <p class="Heritage__illustratoin">
        The Faculty of computers and inforamtoins was&nbsp;founded in August
        2000, and has a big histor
      </p>
      <a href="" class="btn btn--transparent footer__history__btn"
        >OUR HISTORY</a
      >
    </div>
  </div>
  <div class="footer__made__info">
    <p>
      Copyright &copy; 2021 &nbsp;|<a
        href="https://www.linkedin.com/in/mohamed-s-shelf-b2717b1a3/"
        >Mohamed Said Shelf</a
      >
    </p>
  </div>
</footer>
