<div class="services-sectoin-wrapper block-container">
  <h2 class="services-section__header">Check out the services.</h2>
  <p class="services-section__ilustration">
    This website is developed in a way that serve all needs .. check out this
    section to know more about the services that we provide here.
  </p>
  <sectoin class="services-section">
    <!--left__services-cards-->
    <div>
      <!--1-->
      <section class="service__card card--right-style">
        <!--icon-->
        <span class="round-icon icon--primary"
          ><img src="icons/phone-call.svg" alt="" class="icon"
        /></span>
        <!--Heading-->
        <h3 class="service__card__headding">24/7 Support</h3>
        <!--Paragraph-->
        <p class="service__card__illustration">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet
          consectetur deserunt enim.
        </p>
      </section>
      <!--2-->
      <section class="service__card card--right-style">
        <!--icon-->
        <span class="round-icon icon--primary"
          ><img src="icons/download.svg" alt="" class="icon"
        /></span>
        <!--Heading-->
        <h3 class="service__card__headding">Curriculum Download</h3>
        <!--Paragraph-->
        <p class="service__card__illustration">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet
          consectetur deserunt enim.
        </p>
      </section>
      <!--3-->
      <section class="service__card card--right-style">
        <!--icon-->
        <span class="round-icon icon--primary"
          ><img src="icons/database.svg" alt="" class="icon"
        /></span>
        <!--Heading-->
        <h3 class="service__card__headding">DataBase access</h3>
        <!--Paragraph-->
        <p class="service__card__illustration">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet
          consectetur deserunt enim.
        </p>
      </section>
    </div>
    <!--Service img-->
    <div class="services__img">
      <img src="images/Standing women.png" alt="Standing women" />
    </div>
    <!--right__services-cards-->
    <div>
      <!--4-->
      <section class="service__card card--left-style">
        <!--icon-->
        <span class="round-icon icon--primary"
          ><img src="icons/calculator.svg" alt="" class="icon"
        /></span>
        <!--Heading-->
        <h3 class="service__card__headding">GPA Calculator</h3>
        <!--Paragraph-->
        <p class="service__card__illustration">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet
          consectetur deserunt enim.
        </p>
      </section>
      <!--5-->
      <section class="service__card card--left-style">
        <!--icon-->
        <span class="round-icon icon--primary"
          ><img src="icons/team.svg" alt="" class="icon"
        /></span>
        <!--Heading-->
        <h3 class="service__card__headding">Staff info</h3>
        <!--Paragraph-->
        <p class="service__card__illustration">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet
          consectetur deserunt enim.
        </p>
      </section>
      <!--6-->
      <section class="service__card card--left-style">
        <!--icon-->
        <span class="round-icon icon--primary"
          ><img src="icons/information.svg" alt="" class="icon"
        /></span>
        <!--Heading-->
        <h3 class="service__card__headding">School Guide</h3>
        <!--Paragraph-->
        <p class="service__card__illustration">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet
          consectetur deserunt enim.
        </p>
      </section>
    </div>
  </sectoin>
</div>
