    <!--Social media links-->
    <ul class="social-media-links">
        <li class="social__link">
          <a href="#" class="faceBook"><i class="fa fa-facebook-f"></i></a>
        </li>
        <li class="social__link">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="social__link">
          <a href="#" class="YoutYoube"><i class="fa fa-youtube"></i></i></a>
        </li>
        <li class="social__link">
          <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        </li>
        <li class="social__link">
          <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        </li>
      </ul>