<div class="upcomming-event-card">
  <div class="upcomming-event__img">
    <img src="images/upcomming-event_test.jpg" alt="" />
    <div class="mini-calender">
      <div class="mini-calender__month bg--dark-red txt--white">FEB</div>
      <div class="mini-calender__day bg--white txt--dark-blue">9</div>
    </div>
    <div class="upcomming-event__sort txt--dark-blue">Talks</div>
  </div>
  <div class="upcomming-event__description">
    <h3 class="upcomming-event__description__header txt--dark-blue">
      Worst Case Scenarios: AI
    </h3>
    <p class="upcomming-event__description__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, adipisci
      fuga nam nulla laboriosam rerum officiis amet laudantium totam odio
      quisquam quia vitae odit corrupti, iste voluptatibus iusto reiciendis
      quas.
    </p>
  </div>
</div>
