<section class="upcomming-events-section">
  <h2>Upcoming Events</h2>
  <div
    class="flex flex--wrap flex--row-gap-2rem flex--column-gap-1rem flex--center"
  >
    <!--1st card-->
    <a href="#">
      <div class="upcomming-event-card">
        <div class="upcomming-event__img">
          <img src="images/Up-cpmming-1.jpg" alt="" />
          <div class="mini-calender light--shdow">
            <div class="mini-calender__month bg--dark-red txt--white">FEB</div>
            <div class="mini-calender__day bg--white txt--dark-blue">11</div>
          </div>
          <div class="upcomming-event__sort txt--dark-blue">Talks</div>
        </div>
        <div class="upcomming-event__description">
          <h3 class="upcomming-event__description__header txt--dark-blue">
            Worst Case Scenarios: AI
          </h3>
          <p class="upcomming-event__description__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis,
            adipisci fuga nam nulla laboriosam rerum officiis amet laudantium
            totam odio quisquam quia vitae odit corrupti, iste voluptatibus
            iusto reiciendis quas.
          </p>
        </div>
      </div>
    </a>
    <!--2nd card-->
    <a href="#">
      <div class="upcomming-event-card">
        <div class="upcomming-event__img">
          <img src="images/Up-comming-2.jpg" alt="" />
          <div class="mini-calender">
            <div class="mini-calender__month bg--dark-red txt--white">ABRi</div>
            <div class="mini-calender__day bg--white txt--dark-blue">9</div>
          </div>
          <div class="upcomming-event__sort txt--dark-blue">Screenings</div>
        </div>
        <div class="upcomming-event__description">
          <h3 class="upcomming-event__description__header txt--dark-blue">
            Worst Case Scenarios: AI
          </h3>
          <p class="upcomming-event__description__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis,
            adipisci fuga nam nulla laboriosam rerum officiis amet laudantium
            totam odio quisquam quia vitae odit corrupti, iste voluptatibus
            iusto reiciendis quas.
          </p>
        </div>
      </div>
    </a>
    <!--3ed card-->
    <a href="#">
      <div class="upcomming-event-card">
        <div class="upcomming-event__img">
          <img src="images/Up-comming-3.jpg" alt="" />
          <div class="mini-calender">
            <div class="mini-calender__month bg--dark-red txt--white">FEB</div>
            <div class="mini-calender__day bg--white txt--dark-blue">2</div>
          </div>
          <div class="upcomming-event__sort txt--dark-blue">Talks</div>
        </div>
        <div class="upcomming-event__description">
          <h3 class="upcomming-event__description__header txt--dark-blue">
            How Books changing the world
          </h3>
          <p class="upcomming-event__description__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis,
            adipisci fuga nam nulla laboriosam rerum officiis amet laudantium
            totam odio quisquam quia vitae odit corrupti, iste voluptatibus
            iusto reiciendis quas.
          </p>
        </div>
      </div>
    </a>
    <!--4th card-->
    <a href="#">
      <div class="upcomming-event-card">
        <div class="upcomming-event__img">
          <img src="images/Up-comming-4.jpg" alt="" />
          <div class="mini-calender">
            <div class="mini-calender__month bg--dark-red txt--white">Marc</div>
            <div class="mini-calender__day bg--white txt--dark-blue">15</div>
          </div>
          <div class="upcomming-event__sort txt--dark-blue">Lecture</div>
        </div>
        <div class="upcomming-event__description">
          <h3 class="upcomming-event__description__header txt--dark-blue">
            develop your coding skills
          </h3>
          <p class="upcomming-event__description__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis,
            adipisci fuga nam nulla laboriosam rerum officiis amet laudantium
            totam odio quisquam quia vitae odit corrupti, iste voluptatibus
            iusto reiciendis quas.
          </p>
        </div>
      </div>
    </a>
    <!--5th card-->
    <a href="#">
      <div class="upcomming-event-card upcomming-event-card--no-img">
        <div class="upcomming-event__img">
          <div class="mini-calender">
            <div class="mini-calender__month bg--dark-red txt--white">Marc</div>
            <div class="mini-calender__day bg--white txt--dark-blue">2</div>
          </div>
          <div class="upcomming-event__sort txt--dark-blue">Audio</div>
        </div>
        <div class="upcomming-event__description">
          <h3 class="upcomming-event__description__header txt--dark-blue">
            How better listing can affect your life
          </h3>
          <p class="upcomming-event__description__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis,
            adipisci fuga nam nulla laboriosam rerum officiis amet laudantium
            totam odio quisquam quia vitae odit corrupti, iste voluptatibus
            iusto reiciendis quas.
          </p>
        </div>
      </div>
    </a>
    <!--6th card-->
    <a href="#">
      <div class="upcomming-event-card">
        <div class="upcomming-event__img">
          <img src="images/Up-comming-6.jpg" alt="" />
          <div class="mini-calender light--shdow">
            <div class="mini-calender__month bg--dark-red txt--white">May</div>
            <div class="mini-calender__day bg--white txt--dark-blue">8</div>
          </div>
          <div class="upcomming-event__sort txt--dark-blue">Lecture</div>
        </div>
        <div class="upcomming-event__description">
          <h3 class="upcomming-event__description__header txt--dark-blue">
            Pro remote working Advice
          </h3>
          <p class="upcomming-event__description__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis,
            adipisci fuga nam nulla laboriosam rerum officiis amet laudantium
            totam odio quisquam quia vitae odit corrupti, iste voluptatibus
            iusto reiciendis quas.
          </p>
        </div>
      </div>
    </a>
  </div>
</section>
