<section class="grid grid-template-2x block-container unique-features">
  <div class="unique-features__img">
    <img
      src="images/Feature.png"
      alt="Standing pointing women at unique Feature"
    />
  </div>
  <div class="unique-features__description">
    <div class="description__heading">
      <h2 class="description__header">What makes Menoufia-FCI stands out.</h2>
      <p class="description__paragraph">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor expedita
        esse labore perferendis officiis iure soluta mollitia suscipit totam
        cupiditate.
      </p>
      <img src="images/separator.png" alt="" class="separator" />
    </div>
    <!--1-->
    <section class="service__card card--left-style">
      <!--icon-->
      <span class="round-icon icon--primary icon--white"
        ><img src="icons/team.svg" alt="" class="icon"
      /></span>
      <!--Heading-->
      <h3 class="service__card__headding">Very Good Staff</h3>
      <!--Paragraph-->
      <p class="service__card__illustration">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet
        consectetur deserunt enim.
      </p>
    </section>
    <!--2-->
    <section class="service__card card--left-style">
      <!--icon-->
      <span class="round-icon icon--primary icon--white"
        ><img src="icons/place.svg" alt="" class="icon"
      /></span>
      <!--Heading-->
      <h3 class="service__card__headding">Perfect positino</h3>
      <!--Paragraph-->
      <p class="service__card__illustration">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet
        consectetur deserunt enim.
      </p>
    </section>
    <!--3-->
    <section class="service__card card--left-style">
      <!--icon-->
      <span class="round-icon icon--primary icon--white"
        ><img src="icons/study.svg" alt="" class="icon"
      /></span>
      <!--Heading-->
      <h3 class="service__card__headding">Powerfull Curriculum</h3>
      <!--Paragraph-->
      <p class="service__card__illustration">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet
        consectetur deserunt enim.
      </p>
    </section>
  </div>
</section>
